{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <!--                                   -->
  <!--                                   -->
  <!-- BREADCRUMBS AND LANGUAGE SELECTOR -->
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-0" style="margin-top:-15px;margin-bottom:-15px">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <a href="javascript:history.back()" class="govuk-back-link" style="color:#0b0c0c;text-decoration: none;margin-top:0">Back</a>
        </div>
        <div class="govuk-grid-column-one-half" style="text-align: right;">
          <span class="govuk-body-s">English</span> | <a href="#" class="govuk-link" style="color:#0b0c0c">Cymraeg</a>
        </div>
      </div>
    </main>
  </div>

  <!--              -->
  <!--              -->
  <!-- MAIN CONTENT -->
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">

      <!--             -->
      <!--             -->
      <!-- TOP SECTION -->
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">[Name of Buyer Organisation]</h1>

          {{ govukInsetText({
            text: "Ut enim ad minim veniam, quis nostrud exercitation"
          }) }}

        </div>

      </div>

      <!--       -->
      <!--       -->
      <!-- TILES -->

      <!--       -->
      <!--       -->
      <!-- ROW 1 -->
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
          <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">View your organisation details</a></h3>
            <p class="govuk-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">Child organisation</a></h3>
            <p class="govuk-body">Nunc dictum tellus sem, vestibulum blandit nunc lobortis non gravida congue ipsum lobortis et augue ac euismod.</p>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">Register of Commercial Tools</a></h3>
            <p class="govuk-body">Cras hendrerit laoreet mauris, et ultricies massa interdum ut molestie ipsum ut facilisis posuere at metus vitae faucibus.</p>
          </div>
        </div>

      </div>

      <!--       -->
      <!--       -->
      <!-- ROW 2 -->
      <div class="govuk-grid-row govuk-!-padding-top-6">
        <div class="govuk-grid-column-one-third">
          <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">Find a tender</a></h3>
            <p class="govuk-body">Morbi at suscipit justo donec quis justo tellus fusce enim massa, maximus eget molestie quis, vehicula vel augue.</p>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">Public procurement organisation number (PPON) register</a></h3>
            <p class="govuk-body">Search for an organisation's PPON number.</p>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">AI tool</a></h3>
            <p class="govuk-body">Service description to be updated by AI team.</p>
          </div>
        </div>

      </div>

      <!--       -->
      <!--       -->
      <!-- ROW 3 -->
      <div class="govuk-grid-row govuk-!-padding-top-6">

        <div class="govuk-grid-column-one-third">
          <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
            <h3 class="govuk-heading-m"><a href="your-payments.html" class="govuk-link" style="text-decoration: none;">Report your payments</a></h3>
            <p class="govuk-body">Tell us about payments over £30,000 for each quarter.</p>
          </div>
        </div>

      </div>

    </main>
  </div>

{% endblock %}