{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Cabinet Office</span>
    <h1 class="govuk-heading-xl">CDP design prototypes</h1>
    <h2 class="govuk-heading-xl">Payments</h2>

    <p class="govuk-body"><a href="payments-v2/">Payments v2</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m">Change log</h3>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">1 August 2025</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Updaeted the your payments screen to use read (dummy) data</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">31 July 2025</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Created initial work in progress design prototype</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Code</h3>
    <p class="govuk-body-s govuk-!-margin-bottom-1"><a href="https://github.com/blackmonday/CDP-2" target="new">View on GitHub</a></p>

  </div>
</div>

{% endblock %}
