{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Cabinet Office</span>
    <h1 class="govuk-heading-xl">
      CDP design prototypes
    </h1>
    <h2 class="govuk-heading-xl">
      Payments
    </h2>

    <p class="govuk-body"><a href="payments-v2/">Payments v2</a></p>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-1">Code</p>
    <p class="govuk-body-s govuk-!-margin-bottom-1"><a href="https://github.com/blackmonday/CDP-2" target="new">View on GitHub</a></p>

  </div>
</div>

{% endblock %}
