{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/data-dump",
         text: "Data dump (opens in new window)",
          attributes: {
            target: "_blank",
            rel: "noopener noreferrer"
          }
       },
       {
         href: "/",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}